:root {
  --main-bg-color: #121212;
  --header-bg-color: #6c0505;
  --nav-bg-color: #282c34;
  --footer-bg-color: #333;
  --main-text-color: #ffffff;
  --secondary-text-color: #bbbbbb;
  --primary-font: 'Roboto', sans-serif;
  --title-shadow: 2px 2px 4px #000;
  --chat-bg-color: #6c0505;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background: linear-gradient(to right, #141e30, #243b55);
  color: var(--main-text-color);
}

header {
  background-color: var(--header-bg-color);
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  text-shadow: var(--title-shadow);
  transition: transform 0.5s ease;
  cursor: pointer;
}

h1:active {
  transform: rotate(360deg) scale(1.2) skew(10deg, 10deg) translateX(10px);
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--nav-bg-color);
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover,
nav a:focus {
  background-color: #555;
  border-radius: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  text-align: center;
  padding: 15px;
}

p {
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: justify;
}

ul, ol {
  list-style-type: square;
  margin-left: 20px;
  padding-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #444;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

td, th {
  padding: 10px;
  border: 1px solid #555;
}

td img {
  border-radius: 50%;
  transition: transform 0.3s ease;
}

td img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

tr:hover {
  background-color: #222;
}

input:focus {
  border: 2px solid var(--header-bg-color);
  outline: none;
}

/* Botón flotante */
#chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--chat-bg-color);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

#chat-btn:hover,
#chat-btn:focus {
  background-color: #c2185b;
}

#chat-btn:active {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); opacity: 0; }
}

#chat-btn.hide {
  animation: hideChat 5s forwards;
}

@keyframes hideChat {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

.decorado {
  background-image: url("../assets/pngwing.com.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Ajusta según el tamaño del marco */
  display: inline-block;
  position: relative;
}

.decorado img,
.decorado video {
  width: 100%;
  height: auto;
  border: none;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

